<!DOCTYPE html>
<html>
  <head>
    <title>My Simple Node.js App</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.MEASUREMENT_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "<%= process.env.MEASUREMENT_ID %>", { debug_mode: true });

      gtag("event", "deposit", {
        value: 100,
        currency: "USD",
        transaction_id: "02D3xjsdf234",
        from: "324sdfsdf",
        to: "02D3xjsdf234",
      });
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(
        window,
        document,
        "script",
        "dataLayer",
        "<%= process.env.TAGMANAGER_ID %>"
      );
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=<%= process.env.TAGMANAGER_ID %>"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h1>Hello, World!</h1>
  </body>
</html>
